@tailwind base;
@tailwind components;
@tailwind utilities;
@import "material-symbols";

@layer components {
  .material-symbols-filled {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  h1 {
    @apply text-4xl font-black leading-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* change rem base on xl */

:root {
  font-size: 18px;
}

@screen sm {
  :root {
    font-size: 18px;
  }
}

@screen lg {
  :root {
    font-size: 28px;
  }
}
